<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CheeseChess</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Show Game</p>

    This is about Game <span th:text="${gameId}">gameId</span>.

<br/>
<br/>
<table>
    <th:block th:each="pieceRow : ${pieces}">
        <tr>
            <th:block th:each="piece : ${pieceRow}">
                <td>
                    <img th:src="@{/images/} + ${piece.imgUrl}"/>
                </td>
            </th:block>
        </tr>
    </th:block>
</table>

<br/>
<br/>

<form action="#" th:action="@{/game/} + ${gameId} + @{/move/new}" th:object="${move}" method="post">
    <p>From: <input type="text" th:field="*{from}"/></p>
    <p>To: <input type="text" th:field="*{to}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>