<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CheeseChess</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Overview Games</p>
<ul>
    <li th:each="gameId : ${gameIds}">
        <a href="game.html" th:href="@{/game/} + ${gameId}" th:text="${gameId}">Link zu Game </a>
    </li>
</ul>
<br/>
<br/>


<form action="#" th:action="@{/game/new}" th:object="${newGameRequest}" method="post">
    <p>Create new Game: <input type="text" th:field="*{gameId}"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>


</body>
</html>